@font-face {
  font-family: GoodTime;
  src: url("/src/accets/fonts/GoodTimesRg-Regular.eot?") format('eot'),
       url("/src/accets/fonts/GoodTimesRg-Regular.ttf") format('truetype'),
       url("/src/accets/fonts/GoodTimesRg-Regular.woff2") format('woff2');
       font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: Monofonto;
    src: url("/src/accets/fonts/Monofonto-Regular.ttf") format('truetype'),
    url("/src/accets/fonts/Monofonto-Regular.woff2") format('woff2');
    font-style: normal;
    font-display: swap;

}